<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<hr>

<h1>Hello from Rails!</h1>
<p>It is now <%= Time.now %> (data from view)</p>
<p>It is now <%= @time %> (data from controller)</p>
<hr>

<p>Say <a href="/say/goodbye">Goodbye</a>!</p>
<p>Its time to say <%= link_to "Goodbye", say_goodbye_path %>!</p>
<hr>

<h1>Concatenation</h1>
<p>
  <ul>
    <li><%= 1+2 %></li>
    <li><%= "cow" + "boy" %></li>
    <li><%= 1.hour.from_now %></li>
  </ul>
</p>
<hr>

<h1>File</h1>
<ul>
  <% for file in @files %>
    <li>file name is:<%= file %></li> 
  <% end %>
</ul>




